name: pypsa
channels:
- conda-forge
dependencies:
- python>=3.7
- numpy
- scipy
- pandas>=0.24.0
- xarray
- netcdf4
- pytables
- matplotlib
- networkx>=2.8
- pyomo>=5.7.0
- cartopy>=0.16
- glpk
- deprecation
#  - coincbc
#  - gurobi::gurobi
