include pypsa/data/component_attrs/*.csv
include pypsa/data/standard_types/*.csv
include pypsa/data/components.csv
include pypsa/data/variables.csv
include README.rst LICENSE.txt
include requirements.yml
